# -----------------------------------------
# BONUS СЕРВИС
# -----------------------------------------

# HTTP сервер
BONUS_HTTP_HOST=localhost
BONUS_HTTP_PORT=8080
BONUS_HTTP_READ_TIMEOUT=5s

# Логгер
BONUS_LOGGER_LEVEL=info
BONUS_LOGGER_AS_JSON=true

# PostgreSQL
BONUS_POSTGRES_HOST=localhost
BONUS_POSTGRES_PORT=5435
BONUS_EXTERNAL_POSTGRES_PORT=5435
BONUS_POSTGRES_USER=bonus-service-user
BONUS_POSTGRES_PASSWORD=bonus-service-password
BONUS_POSTGRES_DB=bonus-service
BONUS_POSTGRES_SSL_MODE=disable
BONUS_MIGRATION_DIRECTORY=./migrations